debug.log
*.swp
**/build/
**/Debug.win32/
runtime/mac/
log/
runtime/ios/
frameworks/runtime-src/proj.ios_mac/.DS_Store
frameworks/runtime-src/proj.ios_mac/AssetViewer.xcodeproj/xcuserdata/
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.ios_mac/cocos2d_lua_bindings.xcodeproj/xcuserdata/
frameworks/runtime-src/proj.ios_mac/AssetViewer.xcodeproj/project.xcworkspace/
*.swo
lua-tests
gama/
quick-x
.DS_Store
lua-bindings
tags
frameworks/cocos2d-x/cocos/platform/android/java
frameworks/runtime-src/proj.android/
runtime/android/
res/assets/
