[submodule "vendor/lua-gama"]
	path = vendor/lua-gama
	url = git@github.com:yi/lua-gama.git
[submodule "vendor/moonlight"]
	path = vendor/moonlight
	url = git@github.com:GamaLabs/moonlight-on-cocos2dx.git
[submodule "vendor/async.lua"]
	path = vendor/async.lua
	url = git@github.com:yi/async.lua.git
