[submodule "src/vendor/lua-gama"]
	path = src/vendor/lua-gama
	url = git@github.com:yi/lua-gama.git
[submodule "src/vendor/moonlight"]
	path = src/vendor/moonlight
	url = git@github.com:GamaLabs/moonlight-on-cocos2dx.git
[submodule "src/vendor/async.lua"]
	path = src/vendor/async.lua
	url = git@github.com:yi/async.lua.git
